/Makefile
/Makefile.in
/aclocal/libtool.m4
/aclocal/ltoptions.m4
/aclocal/ltsugar.m4
/aclocal/ltversion.m4
/aclocal/lt~obsolete.m4
/aclocal.m4
/autom4te.cache
/autoscan.log
/compiler/cpp/.deps
/compiler/cpp/Makefile
/compiler/cpp/Makefile.in
/compiler/cpp/thrift
/compiler/cpp/*.o
/compiler/cpp/thriftl.cc
/compiler/cpp/thrifty.cc
/compiler/cpp/thrifty.h
/compiler/cpp/version.h
/config.*
/configure
/configure.lineno
/configure.scan
/depcomp
/if/Makefile
/if/Makefile.in
/install-sh
/lib/Makefile
/lib/Makefile.in
/lib/erl/ebin
/lib/cpp/.deps
/lib/cpp/.libs
/lib/cpp/Makefile
/lib/cpp/Makefile.in
/lib/cpp/test/.deps
/lib/cpp/test/.libs
/lib/cpp/test/gen-cpp
/lib/cpp/test/Makefile
/lib/cpp/test/Makefile.in
/lib/cpp/test/Benchmark
/lib/cpp/test/DebugProtoTest
/lib/cpp/test/JSONProtoTest
/lib/cpp/test/OptionalRequiredTest
/lib/cpp/test/ReflectionTest
/lib/cpp/test/TFDTransportTest
/lib/cpp/test/TPipedTransportTest
/lib/cpp/test/UnitTests
/lib/cpp/test/*.la
/lib/cpp/test/*.lo
/lib/cpp/test/*.o
/lib/cpp/concurrency_test
/lib/cpp/*.o
/lib/cpp/*.la
/lib/cpp/*.lo
/lib/cpp/*.pc
/lib/csharp/Makefile
/lib/csharp/Makefile.in
/lib/hs/dist
/lib/java/Makefile
/lib/java/Makefile.in
/lib/java/build
/lib/java/gen-java
/lib/java/gen-javabean
/lib/java/libthrift.jar
/lib/perl/MANIFEST
/lib/perl/Makefile
/lib/perl/Makefile.in
/lib/perl/Makefile-perl.mk
/lib/perl/blib
/lib/perl/pm_to_blib
/lib/perl/test/Makefile
/lib/perl/test/Makefile.in
/lib/perl/test/gen-perl
/lib/py/Makefile
/lib/py/Makefile.in
/lib/py/build
/lib/rb/Makefile
/lib/rb/Makefile.in
/lib/rb/.config
/lib/rb/ext/Makefile
/lib/rb/ext/*.o
/lib/rb/ext/conftest.dSYM/
/lib/rb/ext/thrift_native.bundle
/lib/php/Makefile
/lib/php/Makefile.in
/lib/php/src/ext/thrift_protocol/.deps
/lib/php/src/ext/thrift_protocol/.libs
/lib/php/src/ext/thrift_protocol/Makefile
/lib/php/src/ext/thrift_protocol/Makefile.*
/lib/php/src/ext/thrift_protocol/acinclude.m4
/lib/php/src/ext/thrift_protocol/aclocal.m4
/lib/php/src/ext/thrift_protocol/autom4te.cache/
/lib/php/src/ext/thrift_protocol/build/
/lib/php/src/ext/thrift_protocol/config.*
/lib/php/src/ext/thrift_protocol/configure
/lib/php/src/ext/thrift_protocol/configure.in
/lib/php/src/ext/thrift_protocol/install-sh
/lib/php/src/ext/thrift_protocol/libtool
/lib/php/src/ext/thrift_protocol/ltmain.sh
/lib/php/src/ext/thrift_protocol/missing
/lib/php/src/ext/thrift_protocol/mkinstalldirs
/lib/php/src/ext/thrift_protocol/modules/
/lib/php/src/ext/thrift_protocol/php_thrift_protocol.lo
/lib/php/src/ext/thrift_protocol/run-tests.php
/lib/php/src/ext/thrift_protocol/thrift_protocol.la
/lib/erl/Makefile
/lib/erl/Makefile.in
/lib/erl/src/Makefile
/lib/erl/src/Makefile.in
/libtool
/ltmain.sh
/missing
/stamp-h1
/test/Makefile
/test/Makefile.in
/test/py/Makefile
/test/py/Makefile.in
/test/py/gen-py
/test/rb/Makefile
/test/rb/Makefile.in
/ylwrap
