/Makefile
/Makefile.in
/aclocal/libtool.m4
/aclocal/ltoptions.m4
/aclocal/ltsugar.m4
/aclocal/ltversion.m4
/aclocal/lt~obsolete.m4
/aclocal.m4
/autom4te.cache
/autoscan.log
/compiler/cpp/.deps
/compiler/cpp/Makefile
/compiler/cpp/Makefile.in
/compiler/cpp/thrift
/compiler/cpp/*.o
/compiler/cpp/*.a
/compiler/cpp/thriftl.cc
/compiler/cpp/thrifty.cc
/compiler/cpp/thrifty.h
/compiler/cpp/version.h
/config.*
/configure
/configure.lineno
/configure.scan
/depcomp
/if/Makefile
/if/Makefile.in
/install-sh
/lib/Makefile
/lib/Makefile.in
/lib/cpp/.deps
/lib/cpp/.libs
/lib/cpp/Makefile
/lib/cpp/Makefile.in
/lib/cpp/test/.deps
/lib/cpp/test/.libs
/lib/cpp/test/gen-cpp
/lib/cpp/test/Makefile
/lib/cpp/test/Makefile.in
/lib/cpp/test/Benchmark
/lib/cpp/test/AllProtocolsTest
/lib/cpp/test/DebugProtoTest
/lib/cpp/test/JSONProtoTest
/lib/cpp/test/OptionalRequiredTest
/lib/cpp/test/SpecializationTest
/lib/cpp/test/ReflectionTest
/lib/cpp/test/TFDTransportTest
/lib/cpp/test/TFileTransportTest
/lib/cpp/test/TPipedTransportTest
/lib/cpp/test/TransportTest
/lib/cpp/test/UnitTests
/lib/cpp/test/ZlibTest
/lib/cpp/test/tests.xml
/lib/cpp/test/*.la
/lib/cpp/test/*.lo
/lib/cpp/test/*.o
/lib/cpp/concurrency_test
/lib/cpp/*.o
/lib/cpp/*.la
/lib/cpp/*.lo
/lib/cpp/*.pc
/lib/csharp/Thrift.dll
/lib/c_glib/*.gcda
/lib/c_glib/*.gcno
/lib/c_glib/*.la
/lib/c_glib/*.lo
/lib/c_glib/*.loT
/lib/c_glib/*.o
/lib/c_glib/.deps
/lib/c_glib/.libs
/lib/c_glib/Makefile.in
/lib/c_glib/Makefile
/lib/c_glib/test/*.o
/lib/c_glib/test/*.lo
/lib/c_glib/test/testwrapper.sh
/lib/c_glib/test/testwrapper-test*
/lib/c_glib/test/.deps
/lib/c_glib/test/.libs
/lib/c_glib/test/gen-cpp/
/lib/c_glib/test/gen-c_glib
/lib/c_glib/test/Makefile
/lib/c_glib/test/Makefile.in
/lib/c_glib/thriftc.pc
/lib/c_glib/thrift_c_glib.pc
/lib/csharp/Makefile
/lib/csharp/Makefile.in
/lib/erl/.generated
/lib/erl/.eunit
/lib/erl/ebin
/lib/erl/src/thrift.app.src
/lib/erl/test/*.erl
/lib/erl/test/*.hrl
/lib/hs/dist
/lib/hs/Makefile
/lib/hs/Makefile.in
/lib/java/Makefile
/lib/java/Makefile.in
/lib/java/build
/lib/java/gen-java
/lib/java/gen-javabean
/lib/java/libthrift.jar
/lib/js/test/build
/lib/js/test/jstest.jar
/lib/js/test/gen-*
/lib/js/test/Makefile
/lib/js/test/Makefile.in
/lib/perl/MANIFEST
/lib/perl/Makefile
/lib/perl/Makefile.in
/lib/perl/Makefile-perl.mk
/lib/perl/blib
/lib/perl/pm_to_blib
/lib/perl/test/Makefile
/lib/perl/test/Makefile.in
/lib/perl/test/gen-perl
/lib/py/Makefile
/lib/py/Makefile.in
/lib/py/build
/lib/rb/Makefile
/lib/rb/Makefile.in
/lib/rb/benchmark/gen-*
/lib/rb/debug_proto_test
/lib/rb/.config
/lib/rb/ext/Makefile
/lib/rb/ext/*.o
/lib/rb/ext/conftest.dSYM/
/lib/rb/ext/mkmf.log
/lib/rb/ext/thrift_native.bundle
/lib/rb/ext/thrift_native.so
/lib/rb/spec/gen-*
/lib/php/Makefile
/lib/php/Makefile.in
/lib/php/src/ext/thrift_protocol/.deps
/lib/php/src/ext/thrift_protocol/.libs
/lib/php/src/ext/thrift_protocol/Makefile
/lib/php/src/ext/thrift_protocol/Makefile.*
/lib/php/src/ext/thrift_protocol/acinclude.m4
/lib/php/src/ext/thrift_protocol/aclocal.m4
/lib/php/src/ext/thrift_protocol/autom4te.cache/
/lib/php/src/ext/thrift_protocol/build/
/lib/php/src/ext/thrift_protocol/config.*
/lib/php/src/ext/thrift_protocol/configure
/lib/php/src/ext/thrift_protocol/configure.in
/lib/php/src/ext/thrift_protocol/install-sh
/lib/php/src/ext/thrift_protocol/libtool
/lib/php/src/ext/thrift_protocol/ltmain.sh
/lib/php/src/ext/thrift_protocol/missing
/lib/php/src/ext/thrift_protocol/mkinstalldirs
/lib/php/src/ext/thrift_protocol/modules/
/lib/php/src/ext/thrift_protocol/php_thrift_protocol.lo
/lib/php/src/ext/thrift_protocol/run-tests.php
/lib/php/src/ext/thrift_protocol/thrift_protocol.la
/lib/erl/Makefile
/lib/erl/Makefile.in
/lib/erl/src/Makefile
/lib/erl/src/Makefile.in
/libtool
/ltmain.sh
/missing
/stamp-h1
/test/Makefile
/test/Makefile.in
/test/cpp/.deps
/test/cpp/.libs
/test/cpp/*.la
/test/cpp/*.lo
/test/cpp/*.o
/test/cpp/gen-*
/test/cpp/Makefile
/test/cpp/Makefile.in
/test/cpp/StressTest
/test/cpp/StressTestNonBlocking
/test/cpp/TestClient
/test/cpp/TestServer
/test/hs/gen-*
/test/hs/Makefile
/test/hs/Makefile.in
/test/py/Makefile
/test/py/Makefile.in
/test/py/gen-py
/test/py.twisted/Makefile
/test/py.twisted/Makefile.in
/test/py.twisted/_trial_temp/
/test/py.twisted/gen-py.twisted/
/test/py.twisted/test_suite.pyc
/test/rb/gen-*
/test/rb/Makefile
/test/rb/Makefile.in
/ylwrap
