@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    border-bottom: solid;
    border-width: thin;
    padding-top: 20px;
}
