.dub
docs.json
__dummy.html
docs/
*-test-*
*.exe
*.o
*.obj
*.lst
*.selections.json
test/*.pem
libthriftd*.a
test/async_test
test/client_pool_test
test/serialization_benchmark
test/stress_test_server
test/thrift_test_client
test/thrift_test_server
test/transport_test
test/*-gen/
