%% -*- erlang -*-

[ %% begin config %%

{thrift, [
  {term_width, 110},
  {force_one_line, false},

  %% a list of ?INFO format strings that WILL NOT be output
  {omit_fmt, [
%"application ~p reconfigured: ~p keys updated"         ,% ?INFO  thrift.erl
"thrift connection accepted from ~s"                   ,% ?INFO  tErlAcceptor.erl
"thrift connection closed from ~s"                     ,% ?INFO  tErlAcceptor.erl
"thrift connection timed out from ~s"                  ,% ?INFO  tErlAcceptor.erl
"thrift request: ~p"                                   ,% ?INFO  tErlAcceptor.erl
%"thrift server listening on port ~p"                   ,% ?INFO  tErlServer.erl
"thrift ~p:new(~s) = ~s"                               ,% ?INFO  thrift_oop_server.erl
"oop:call called: Obj=~p Func=~p ArgsProper=~p",
"tSocket: read ~p",

"end of log filters"]},

  {show_pid, true},
  {gen_server_messages, true},
  {lookup, true},
{'end of config', thrift_logger}]}

]. %% end config %%
