%%% -*- mode:erlang -*-
%%% Parameter settings for apps on thrift
%%% Warning - this config file *must* end with <dot><whitespace>

%% write log files to sasl_dir
[
 {sasl,
  [
   {sasl_error_logger, {file, "/data/users/cpiro/thrift/trunk/lib/erl/release/thrift_rel/local/log/1.0/sasl_log"}}
  ]},


 {gas,
  [
   {mod_specs, [{elwrap, {fs_elwrap_h, start_link}}]},

   % elwrap config.
   {err_log, "/data/users/cpiro/thrift/trunk/lib/erl/release/thrift_rel/local/log/1.0/err_log"},
   {err_log_wrap_info, {{err,5000000,10},{sasl,5000000,10}}}, 
   {err_log_tty, true} % Log to the screen
   ]},

 {thrift,
  [
  ]}
]. 
