parameters:
    level: 5
    paths:
        - lib
    bootstrapFiles:
        - test/bootstrap.php
    scanFiles:
        - src/ext/thrift_protocol/php_thrift_protocol.stub.php
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - test/Resources/packages/*
includes:
    - phpstan-baseline.neon
