parameters:
	ignoreErrors:
		-
			message: "#^Method Thrift\\\\ClassLoader\\\\ThriftClassLoader\\:\\:findFile\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: lib/ClassLoader/ThriftClassLoader.php
